h3{
    /* color: aqua; */
}

#encabezado{
    color:red;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




.encabezadoClass{
    color: yellow;
}


li,ul{
    color: blue;
}


img{
    height: 100px;
    width: 100px;
}

.contenedor{
    border:solid blue;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
/*     padding: 20px;
    margin: 20px; */
}